.home-container {
    background-image: url('../assets/pictures/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh; 
    width: 100vw; 
  }

/* Kolla igenom all css och se om det går att komprimera*/
.todo-container {
    min-height: 100vh;
}

.omoss-container {
    margin-left: 1rem;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.715);
    margin: 0;
}

.delete-btn {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 1rem;
}


.delete-btn:hover {
    background-color: rgb(185, 222, 255);
    font-family: 'Courier New', Courier, monospace;
}

.rubrik {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 57);
}
  