.home-container {
    background-image: url('../assets/pictures/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.home-text {
    background-color: rgba(255, 255, 255, 0.715);
    padding: 1rem;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    align-items: center;
}

.headline {
    margin-bottom: 0;
    margin-left: 0;
}

.subtext {
    margin-top: 0;
    margin-top: 10px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.todo-container {
    background-image: url('../assets/pictures/background2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.omoss-container {
    margin-left: 1rem;
}

.rubrik {
    color: rgb(0, 0, 57);
}
  