.todo-list li.completed {
    text-decoration: line-through;
    color: gray;
}

/* Se om jag kan flytta lite mellan den här css filen och pagestyle css*/

.todo-list li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 30px; 
}


.todo-list li::before {
    content: ''; 
    width: 15px; 
    height: 15px; 
    border: 1px solid black; 
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    transition: background-color 0.3s ease; 
}

.todo-list li.completed::before {
    background-color: rgb(185, 222, 255); 
  }

h1 {
    color: rgb(0, 0, 57);
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1rem;
}

.input-field {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    margin-left: 1rem;
}

.input-btn {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.input-btn:hover {
    background-color: rgb(185, 222, 255);
    font-family: 'Courier New', Courier, monospace;
}